*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header
{
    background-color:#FFF8F3 ;
    padding-top: 50px;

}
.logo h2{
  font-size: 45px;

}
.r-orange
{
    color: #FD6E0A;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
 nav .menu{
    display: flex;
    gap:40px;
    list-style-type: none;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;
}
.btn{
    background-color: #FD6E0A;
    color: white ;
    border: none;
    /* margin: 20px  20px; */
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight:bold ;
}